@model List<TheBuzzerBeater.Models.Category>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center mt-4 mb-4"><strong>Welcome to TheBuzzerBeater – Your Ultimate NBA Fashion Destination!</strong></h2>
        </div>
    </div>
</div>
<br>

<div class="container mt-4" id="featured-products">
    <h4>
        At TheBuzzerBeater online shop, we believe that style and passion go hand in hand. Our mission is to bring the excitement of the NBA from the court to your closet, offering a curated collection of high-quality, trendsetting NBA-themed apparel and accessories.
    </h4><br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 video-container">
                <div class="embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" autoplay loop muted>
                        <source src="\images\site\mp4\1.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div><br>

    <section class="brands__section bg-primary-outline">
        <div class="container ">
            <div class="position-relative">
                <div class="row">
                    <h3 class="my-4 text-center"><strong>Elevate Your Style:</strong></h3>
                    <h4>
                        Discover a winning lineup of fashion-forward gear that allows you to express your love for the game in every aspect of your life.
                        From iconic jerseys to street-style essentials, we've got your wardrobe covered, ensuring you're always on top of your style game.
                    </h4>
                    <h4 class="my-4 text-center text-primary">
                        It's your style, your game, your destination !
                    </h4>
                    <h3 class="my-4 text-center"><strong>Quality Meets Fandom:</strong></h3>
                    <h4>
                        We understand that being a fan is not just about the game; it's a lifestyle.
                        That's why we source premium materials and collaborate with top designers to bring you products that seamlessly blend quality,
                        comfort, and team pride. Each piece is a celebration of your favorite teams and players.
                    </h4>
                </div>
            </div>
        </div>
    </section><br><br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 video-container">
                <div class="embed-responsive embed-responsive-16by9">
                    <img src="/images/site/gif/Nba-logos.gif" class="embed-responsive-item img-fluid" alt="NBA Logos">
                </div>
                <div class="text-center mt-4">
                    <h4 class="display-4">Score the Perfect Gear for Every Game!</h4>
                    <p class="lead mb-4">Explore our collection and elevate your game today!</p>
                    <a class="btn btn-lg btn-primary booking-btn" asp-controller="Product" asp-action="Index">SHOP NOW</a>
                </div>
            </div>
        </div>
    </div><br><br>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center mb-4"><strong>Featured Products</strong></h2>
                </div>
            </div><br>
            <div class="row">
                @foreach (var category in Model)
                {
                    <div class="col-md-12">
                        <div class="card-body">
                            <h2 class="card-title text-primary text-center">
                                @category.Name
                            </h2><br>
                            <img src="@category.ImageUrl" class="card-img-top rounded custom-img-size" alt="@category.Name" /><br><br>
                            <div class="text-center">
                                <a class="btn btn-lg btn-primary rounded-circle p-4 text-center " asp-controller="Category" asp-action="CategoryDetails" asp-route-categoryName="@category.Name">
                                    BUY NOW
                                </a><br><br>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>

    <section class="promotions">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body text-center">
                        <br>
                        <h2><strong>Check out our latest promotions!</strong></h2><br>
                        <img src="~/images/site/Clearance.png" class="promo-image" /><br><br>
                        <h3>Hurry up! Limited-time offers</h3><br>
                        <a href="@Url.Action("SalesAndClearance", "Category", new { area = "Customer" })" class="btn btn-lg btn-primary rounded-circle p-4">VIEW DEALS</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<br>


